html {
   min-height: 100%;
}

body {
   background: linear-gradient(rgb(192, 235, 255), grey);
   color: black;
   text-align: center;
}

.profil-nom {
   color: black;
}

.profil-top {

   color: rgb(51, 2, 60);
}

.profil-societe {

   text-transform: capitalize;
   font-weight: bold;
   color: rgb(43, 1, 29);
}

.profil-contact {
   text-transform: capitalize;
   font-weight: bold;
   color: rgb(3, 3, 70);
}

.profil-lien {
   font-weight: bold;
   color: rgb(14, 124, 136);
}

.profil-raisons {
   list-style-position: inside;
   text-align: justify;
   font-weight: bold;
   color: rgb(2, 2, 21);
}

.fig1 {
   background-size: cover;
   overflow: hidden;
   border-radius: 100%;
   border: 6px solid pink;
   width: 100%;
   min-width: 150px;
}

.fig2 {

   background-size: cover;
   background-size: cover;
   overflow: hidden;
   border-radius: 100%;
   border: 6px solid pink;
}

.fig3 {

   background-size: cover;
   background-size: cover;
   overflow: hidden;
   border-radius: 80%;
   border: 6px solid pink;
   width: 100%;
   min-width: 150px;
}

.fig4 {

   font-weight: bold;
   color: rgb(14, 124, 136);
   font-weight: bold;
   background-size: cover;
   overflow: hidden;
   border-radius: 100%;
   border: 7px solid pink;
}

.profil-image1 {
   display: inline-block;
   width: 10%;
   margin-left: -5em;
}

.profil-image2 {
   background-image: url(class=fig2);
   background-size: cover;
   width: 15%;
   display: inline-block;
}

.profil-image3 {
   display: inline-block;
   width: 10%;
   background-image: url(class=fig3);
   background-size: cover;
}

.profil-image4 {
   background-image: url(class=fig4);
   background-size: cover;
   width: 15%;
   display: block;
   margin: auto;
}

.profil-bottom {
   list-style-position: inside;
   text-align: justify;
   background-size: cover;
   font-weight: bold;
   color: rgb(21, 16, 125);

}

.profil-bonus {
   background-size: cover;
   font-weight: bold;
   color: rgb(14, 124, 136);

}

.fig1 img {
   width: 100%;
   margin-bottom: -1em;
}

.fig2 img {
   width: 100%;
   margin-bottom: -1em;
}

.fig3 img {
   width: 100%;
   margin-bottom: -1em;
}

.fig4 img {
   width: 100%;
   margin-bottom: -1em;
}

.block1 {
   display: inline-block;
   width: 25%;
   margin-left: 5em;
}

.block2 {
   display: inline-block;
   width: 30%;
   margin: auto;
}

.block3 {
   display: inline-block;
   width: 30%;
}
